body {
    margin: 0;
    padding: 0;
    margin-top:10px;
    text-align: center;
    font-family: 'Mali', cursive;
    background: rgb(78,28,41);
    background: linear-gradient(180deg, rgba(78,28,41,1) 0%, rgba(250,234,222,1) 5%);      
}

/*HEADER*/
header {
    margin-top: 40px;
    font-family: 'Emilys Candy', cursive;
    font-size: x-large;
    color:#4E1C29;
    animation:float infinite ease-in-out 3.5s;
}

#moon {/*LOGO*/
    width:7%;;
}

header p {
    margin-left: 2%;
    margin-right: 2%;
}

@keyframes float { 
    0% {
        transform: translate(0,0);
    }

    50%{
        transform: translate(0,10px);
    }

    100% {
        transform: translate(0,0);
    }
    
}

h1 {
    font-size: 300%;
}

/**SLIDER**/
#slider {
    position: relative;
    top:0;
    left: 0;
    height: 100%;
}


#slider img {
    margin:auto;
    height: 70%;
    width:70%; /*added*/
    display: block;
    margin-top:20px;
    transform: scale(1);
    transition: all 2.5s ease-in;
}

#slider img:hover {
    transform: scale(0.9);
    transition: all 2.5s ease-in-out;
    filter: blur(3px);
}



/********OVERLAY********/
.showing {
    display: block;
    opacity: 100%;
}

.hidden {
    opacity:0%;
    display:none;
}

#overlay1 {
    position: relative;
    top: 30%; 
    left:15%;
    width: 70vw;
    background-color:#faeade;
    /*border-color:#b44361;*/
    border-color:#A28081;
    border-style:solid;
    border-width: 10px;;
    border-radius: 40px;
    padding-top:20px;
    padding-bottom:20px;
}

#overlay1 h2 {
    font-family: 'Emilys Candy', cursive;
    color:#4E1C29;
    font-size: 200%;
    text-align: left;
    padding-left:5%;
}

#overlay1 p {
    text-align: left;
    padding-left:5%;
    padding-right:5%;
    font-size: 120%;
}

/*IMG ID for image in overlay*/
#myImage{
    max-width:90%;
    border-radius:40px;
}

/*FOOTER*/
footer{
    background-color:#4e1c29d3;
    color: white;
    max-width: 1200px;
    margin:auto;
    padding-top: 2%;
    padding-bottom: 4%;;
    margin-top: 7%;
    text-align: left;
    line-height:1.6em;
    border-radius: 40px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    margin-top: 10%;
}

footer a {
    /* color: #C26761; */
    color:#ca9fa0;
    text-decoration: none;
}

footer a:hover {
    color:#faeade;
}

footer p {
    margin:auto;
    width:80%;
}

/*CLOSING X*/
.close {
    float: right;
    color: #faeade;
    border-radius: 50px;
    border:none;
    width: 45px;
    height: 45px;
    position:relative;
    z-index: 2; /*bring x forward to be able to close in mobile*/
    right:4%;
    font-size: 190%;
    background-color:#4E1C29;
    display: block;
    font-family: 'Mali', cursive; 
}

.close:hover {
    color:#4E1C29;
    background-color: #faeade;
    border: solid 3px #4E1C29;
}

/******************MEDIA QUERY******************/
/*****DESKTOP*****/
@media only screen and (min-width: 800px)
{
    body {
        background: rgb(78,28,41);
        background: linear-gradient(180deg, rgba(78,28,41,1) 0%, rgba(250,234,222,1) 24%);   
    }

    #moon { /*LOGO*/
        width:3.2%;;
    }

    /**SLIDER**/
    #slider {
        overflow-x:scroll;
        display: flex; 
    }

    #slider img {
        height: 100%;
        width:100%; /*added*/
        padding-left: 20px;
    }

    /*IMG ID for image in overlay*/
    #myImage{
        max-width:60%;
        border-radius:40px;
    }

    /*an ID is called flex TO FLEX IMAG & INFO OF OVERLAY*/
    #flex {
        top: 20%; 
        display:flex;
        
    }

    /*overlay*/
    #overlay1 p {
        padding-left:0;
    }

    #overlay1 h2 {
        padding-left:0;
    }

    /*IMG IN OVERLAY*/
    #containImg img{
        max-width:80%;
    }

    #containImg{
        flex:1;
    }

    article {
        flex:1;
    }
    
     /* FOOTER */
     footer {
        display: flex;
        padding:0;
        text-align:center;
        padding-bottom:2%;
        padding-top:2%;
        min-width:80%;
        padding-left:7%;
    }

    footer p {
        flex:1;
    }
}/*********END media query*********/
