body {
    margin: 0;
    padding: 0;
    max-width:80%;
    text-align: left;
    margin: auto;
    font-family: 'Mali', cursive;
    background: rgb(78,28,41);
    background: linear-gradient(180deg, rgba(78,28,41,1) 0%, rgba(250,234,222,1) 4%);   
    background-size: cover;
}

/*LISTS*/
li{
    line-height:1.6em;
    color:#4E1C29;
}

ol li {
    margin-bottom:4%;
    margin-top:0;
}

ol {
    margin-top:2%;
}

/*HEADER*/
header {
    margin-top: 7%;
    font-family: 'Emilys Candy', cursive;
    font-size: x-large;
    color:#4E1C29;
    animation:float infinite ease-in-out 3.5s;
}

h2 {
    color:#4E1C29;
    font-family: 'Emilys Candy', cursive;
    font-size:200%;
    margin-bottom:2%;
}

h3 {
    color:#4E1C29;
    font-family: 'Emilys Candy', cursive;
    font-size:150%;
    /* padding-bottom:0;*/
    margin-bottom:2%;

}

p {
    line-height:1.6em;
    color:#4E1C29;
    margin-top:0;
    margin-bottom:5%;
}

p#space1.two, p#space2.two {
    margin-top:3%;
}
/* SECTION */

section {
    /* margin-bottom:3%; */
    margin-bottom:0;
}


img {
    height:auto;
    max-width:100%;
    display: block;
}

.tests {
    max-width:70%;
    margin:auto;
    border:#4E1C29 2px solid;
}

figcaption {
    text-align: center;
    padding-top:2%;
    color:#4E1C29;
}


/*FOOTER*/
footer{
    background-color:#4e1c29d3;
    color: white;
    max-width: 1200px;
    margin:auto;
    padding-top: 2%;
    padding-bottom: 4%;;
    margin-top: 7%;
    text-align: left;
    line-height:1.6em;
    border-radius: 40px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    margin-top: 10%;
}

footer a {
    /* color: #C26761; */
    color:#ca9fa0;
    text-decoration: none;
}

footer a:hover {
    color:#faeade;
}

footer p {
    margin:auto;
    width:80%;
    color:#faeade;
}



 /******************MEDIA QUERY******************/
/*****DESKTOP*****/
@media only screen and (min-width: 800px)
{

    body {
        max-width:70%;
        background: rgb(78,28,41);
        background: linear-gradient(180deg, rgba(78,28,41,1) 0%, rgba(250,234,222,1) 7%);   
    }

    .split {
        display:flex;
    }

    .one {
        flex:1;
    }

    .two {
        flex:1;
        margin-left:50px;
        
    }
    
    /* FOOTER */
    footer {
        display: flex;
        padding:0;
        text-align:center;
        padding-bottom:2%;
        padding-top:2%;
        min-width:80%;
        padding-left:7%;
    }

    footer p {
        flex:1;
    }
}